.shaw{
	colour:white;
	display:flex;
	align-item:center;
	justify-content: center;
}





.header{
	display:flex;
/* 	display:grid; */
	flex-wrap:wrap;
	flex-direction:row;
	justify-content: space-evenly;
	
}
